<!-- <link rel="stylesheet" href="{{ 'tabs.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-card.css' | asset_url | stylesheet_tag }}

<section>
<div class={{section.id}}>
  {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
          <input type="radio" id={{ block.id }}"tab" name="featuredCollection"{%- if block== section.blocks[0] -%} checked = "checked"{%- endif -%}>
          <label for={{ block.id }}"tab">{% if block.settings.collection.title %} {{ block.settings.collection.title }} {% else %} Example Tab {% endif %} </label>
          <div class="tab">
<div class="collection page-width{% if section.settings.swipe_on_mobile == true and block.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %}">
<div class="{% if section.settings.show_view_all and section.settings.swipe_on_mobile %}title-wrapper-with-link{% endif %}{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if block.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %}">

  {%- if section.settings.show_view_all and section.settings.swipe_on_mobile -%}
    <a href="{{ block.settings.collection.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
  {%- endif -%}
</div>

{%- liquid
  assign products_to_display = block.settings.collection.all_products_count

  if block.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
  endif
%}

<slider-component class="slider-mobile-gutter">
  <ul class="grid grid--2-col{% if products_to_display == 4 or block.settings.collection == blank %} grid--2-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablet{% endif %}{% if products_to_display > 5 %} grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}{% if block.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet grid--peek{% endif %}{% if section.settings.show_view_all == false or block.settings.collection.products.size < section.settings.products_to_show %} negative-margin{% endif %}{% if section.settings.show_view_all and block.settings.collection.products.size > section.settings.products_to_show %} negative-margin--small{% endif %}" role="list">
    {%- for product in block.settings.collection.products limit: section.settings.products_to_show -%}
      <li class="grid__item{% if block.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
        {% render 'product-card',
          product_card_product: product,
          media_size: "square",
          show_secondary_image: section.settings.show_secondary_image,
          add_image_padding: section.settings.add_image_padding,
          show_vendor: section.settings.show_vendor
        %}
      </li>
    {%- else -%}
      {%- for i in (1..4) -%}
        <li class="grid__item">
          {% render 'product-card-placeholder' %}
        </li>
      {%- endfor -%}
    {%- endfor -%}
  </ul>
  {%- if block.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 -%}
    <div class="slider-buttons no-js-hidden{% if block.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if block.settings.collection.all_products_count < 3 %} small-hide{% endif %}">
      <div class="slider-counter caption">
        <span class="slider-counter--current">1</span>
        <span aria-hidden="true"> / </span>
        <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
        <span class="slider-counter--total">{{ products_to_display }}</span>
      </div>
      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
      <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
    </div>
  {%- endif -%}
</slider-component>

{%- if section.settings.show_view_all and block.settings.collection.all_products_count > section.settings.products_to_show -%}
  <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
    <a href="{{ block.settings.collection.url }}"
      class="button"
      aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: block.settings.collection.title }}"
    >
      {{ 'sections.featured_collection.view_all' | t }}
    </a>
  </div>
{%- endif -%}
</div>
          </div>
 	{%- endfor -%}
    {%- endif -%}
  </div>
<style>
  .{{section.id}} {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 25px;
 	justify-content: center;
}
.{{section.id}} input[type="radio"] {
    display: none;
}
.{{section.id}} label {
  	display: flex;
    padding: 10px;
    background: #E5E4E2;
    font-weight: bold;
  	border-style: inset;
}

.{{section.id}} .tab {
    width: 100%;
    padding: 10px;
    background: #fff;
    order: 1;
    display: none;
}
.{{section.id}} .tab h2 {
    font-size: 3em;
}

  .{{section.id}} input[type="radio"]:checked + label {
    background: #fff;
}
  
.{{section.id}} input[type='radio']:checked + label + .tab {
    display: block;
}


  </style>
</section>

{% schema %}
{
  "name": "tabs",
  "tag": "section",
  "class": "spaced-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured-collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
